body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #0b0f1a;
    color: #f4f4f4;
    line-height: 1.6;
    padding-left: 60px;
    padding-right: 60px;
}

nav {
    text-align: center;
    margin-top: 40px;
}

nav a {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #c6a85b;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

a:visited {
    text-decoration: underline;
    color: #9aa0a6;
}

h1 {
    font-family: "Cormorant Garmond";
    font-size: 64px;
    color: #c6a85b;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 60px;
}

h2 {
    font-family: "Cormorant Garmond";
    font-size: 36px;
    color: #c6a85b;
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding-left: 60px;
    padding-right: 60px;
}

h3 {
    font-family: "Montserrat";
    font-size: 14px;
    color: #9aa0a6;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    padding-left: 60px;
    padding-right: 60px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

blockquote {
    margin-top: 70px;
    margin-bottom: 70px;
}

blockquote p {
    font-size: 24px;
    color: #c6a85b;
    font-style: italic;
    text-align: center;
}

ul {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

li {
    font-size: 18px;
    margin-bottom: 12px;
    padding-left: 60px;
    padding-right: 60px;
}

footer {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

img {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}